<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DbSetup" connectionString="Data Source=.;Initial Catalog=master;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="taskometer.Core.Properties.Settings.taskometerDbConnectionString" connectionString="Data Source=.;Initial Catalog=taskometerDb;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>