<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("3c377eba-e82a-45af-9112-a339092d3d4a");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
