<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Debugging.Properties.Settings.ZeroConnectionString"
            connectionString="Initial Catalog = Zero" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>